
  
  .SingleDatePicker,
  .SingleDatePickerInput,
  .DateInput {
      width: 100%;
  }

  .SingleDatePickerInput {
      border: none;
      border-bottom: 2px solid var(--secondary);
  }

  .DateInput_input {
      line-height: 25px;
      color: var(--secondary) !important;
  }

  .DateInput_input::placeholder {
      color: var(--secondary) !important;
      opacity: 1;
  }

  .DateInput_input__focused {
      border-color: #fff !important;
  }



 .CalendarDay__default {
    padding: 0 !important;
  }

  td:empty {
    border: none;
  }


  .CalendarDay__selected_span {
    background: var(--secondary); 
    color: white; 
    border: 1px solid var(--secondary); 
  }


  .CalendarDay__selected {
    background: var(--primary);
    color: white;
  }


  .CalendarDay__selected:hover,
  .CalendarDay__selected_span:active,
  .CalendarDay__selected_span:hover {
    background: var(--primary);
    color: white;
  }


  .CalendarDay__hovered_span:hover,
  .CalendarDay__hovered_span {
    background: var(--primary);
    color: white;
  }

  .DateInput_input__focused {
    border-color: var(--primary);
  }

  .DateRangePicker_picker {
      position: relative !important;
      top: auto !important;
  }

  .DateRangePicker_picker.DateRangePicker_picker_1.DateRangePicker_picker__directionLeft.DateRangePicker_picker__directionLeft_2 div {
      background: transparent !important;
  }

  .DateRangePickerInput.DateRangePickerInput_1.DateRangePickerInput__showClearDates.DateRangePickerInput__showClearDates_2 {
    background-color: rgba(255,255,255,0) !important;
      padding-right: 0 !important;
  }

  /* .DateInput.DateInput_1 {
      display: none;
  } */

  .DateRangePicker_picker {
      background-color:transparent !important ;
  }

  .DayPicker {
      box-shadow: 8px 0 50px var(--seondary-trans);
  }

  .DateRangePickerInput_clearDates {
      position: absolute;
      top: 0;
  }

  li.DayPicker_weekHeader_li.DayPicker_weekHeader_li_1 small {
    font-size: 17px;
    margin-top: 35px;
    display: block;
}

.CalendarMonth_caption.CalendarMonth_caption_1 {
    padding-bottom: 60px;
}

.DateRangePickerInput_arrow {
  opacity: 0;
}


.SingleDatePicker_picker__portal {
  background-color: var(--secondary-trans);
  z-index: 999999;
}

.SingleDatePicker_picker__portal .DayPickerNavigation {
    display: none;
}

@media(max-width: 1199px) {
  .SingleDatePicker_picker__portal .react-select__control--menu-is-open .react-select__value-container {
    position: fixed;
    background: #fff;
  top: 25px;
  left: 0;
  width: 100%;
  z-index: 999;
  }
  .SingleDatePicker_picker__portal .react-select__menu {
  background: #fff;
  position: fixed;
  top: -5px;
  left: -7px;
  z-index: 99;
  width: 100%;
  height: 100%;
  padding-top: 75px;
}

.DayPicker_weekHeader {
  z-index: 0;
}
.CalendarMonth {
  background: rgba(255,255,255,0);
}

.react-select__menu-list {
  max-height: 100% !important;
  display: flex;
  flex-wrap: wrap;
  max-width: 34%;
}

.react-select__menu-list > div {
  width: 33.3%;
  height: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
}

@media(max-width:420px) {
  .react-select__menu-list {
    width: 100%;
    max-width: 100vw;
  }
  .SingleDatePicker_picker__portal .react-select__menu {
    left: auto;
  }
}